
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #999;
}
/* blocks */
.Nav{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: azure;
    margin-top: 5rem;
}

.Nav__item{
    background-color: #999;
    border-radius: 5rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    text-decoration:none ;
}